.btn {
    background-color: $btn-blue;
    padding: 15px 25px 15px 25px;
    border-radius: 4px;
    width: 150px;
    font-size: 14px;
    transition: $transition;
    text-align: center;
    @media(max-width: $tablet) {
        width: 120px;
        padding: 12px 10px 12px 10px;
    }
    &:hover {
        background-color: $btn-blue-active;
    }
    &:focus {
        background-color: $btn-blue-active;
    }
    &:active {
        background-color: $btn-blue-active;
    }
}