.switch-btns
    .switch-btns__container 
        .switch-btns__item 
            h3 Дом Марины и Жени
            +switch()
        .switch-btns__item 
            h3 Дом Руслана и Ольги
            +switch()
        .switch-btns__item 
            h3 Дом № 3
            +switch()