.map-house {
    margin-top: 40px;
    margin-bottom: 60px;
    &__title {
        text-transform: uppercase;
        text-align: center;
        margin: 25px 0 25px;
        font-weight: 400;
    }
}
